$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


@font-face {
    font-family: 'Hero';
    src:url('../fonts/Hero.ttf.woff') format('woff'),
        url('../fonts/Hero.ttf.svg#Hero') format('svg'),
        url('../fonts/Hero.ttf.eot'),
        url('../fonts/Hero.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.navbar-left-btn {
	color:#333;
	position: relative;
	float: left;
	padding: 10px 15px;
	background-color: transparent;
	z-index:4;

  	&:focus {
	  outline: 0;
	}
	& .icon-bar {
	  display: block;
	  width: 22px;
	  height: 2px;
	  border-radius: 1px;
	}
	& .icon-bar + .icon-bar {
	  margin-top: 4px;
	}
}
@media screen and (min-width: $screen-sm) {
  .navbar-left-btn {
    display: none;
  }
}

a.company-logo {
	font-family: 'Hero';
	font-size:60px;
	color:#333;
	text-decoration:none;

	@media screen and (max-width: $screen-sm){
		font-size:50px;
	}
	@media screen and (max-width: $screen-xs){
		font-size:30px;
	}
	
}
nav#center-menu  {
  	text-align: center;
  	font-family: Raleway;
  	padding:15px 0px;
}
#center-menu {
	background: transparent;
}

a.links {
	transition: 0.15s ease;
	background: transparent;
	color: #777;
	font-family: 'Hero';
	font-size: 16px;
	font-weight: 800;
	text-decoration: none;
	padding: 12px 20px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin:6px 0px;
	@media screen and (max-width: $screen-sm){
		font-size: 14px;
	}
	@media screen and (max-width: $screen-xs){
		font-size: 12px;
	}
}
a.links:hover {
	color:#D9230F;
  	border-top: 1px solid #D9230F;
  	border-bottom: 1px solid #D9230F;
}

.navbar-brand {
    position: absolute;
    width:100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    display:table;
    margin:0 auto;
    z-index:1;
}
.navbar-toggle {
    z-index:3;
}

